/* Links */
a,
a:focus,
a:hover {
  color: #ffffff; }

html,
body {
  font-family: "Galano-Bold", "Helvetica Neue", Verdana, Arial, sans-serif;
  size: 14px;
  background-color: #ffffff;
  color: #333; }
  html .content,
  body .content {
    display: flex;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
    height: 100%;
    min-height: 80vh;
    padding: 5vh;
    align-items: center;
    flex-direction: row; }
    html .content div,
    body .content div {
      display: flex !important;
      align-items: center; }
      html .content div h2,
      body .content div h2 {
        padding: 0px 20px 40px 20px; }
      html .content div div,
      body .content div div {
        flex-wrap: wrap;
        justify-content: space-around; }
        html .content div div .item-display,
        body .content div div .item-display {
          width: 350px;
          height: 350px;
          flex-direction: column;
          padding: 20px;
          margin-bottom: 20px !important;
          justify-content: center;
          text-align: center;
          align-items: center;
          flex-wrap: nowrap; }
          html .content div div .item-display img,
          body .content div div .item-display img {
            object-fit: scale-down;
            max-width: 300px;
            max-height: 200px; }
          html .content div div .item-display p,
          body .content div div .item-display p {
            margin: 0px;
            padding: 5px; }

.home {
  background-image: linear-gradient(to bottom, white 30%, rgba(255, 255, 255, 0.75)), url("../images/wave-3473335_1920.jpg");
  background-size: cover;
  height: 100vh; }
  .home .content {
    height: 80vh; }
    .home .content div main {
      text-align: center; }

.admin {
  background-color: #ffffff;
  color: #333; }
  .admin form div input {
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    outline: none !important; }
  .admin form div button:focus {
    box-shadow: 0 0 1.5rem rgba(255, 255, 255, 0.5) !important; }
  .admin form div button {
    background-color: #333;
    color: #ffffff;
    margin: 25px;
    font-weight: 700 !important;
    outline: none !important;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.5); }
  .admin form div button:hover,
  .admin form div button:focus {
    opacity: 0.9;
    font-weight: 700 !important; }

.admin-controls {
  flex-direction: column;
  width: 95%;
  padding: 25px;
  align-items: normal !important; }
  .admin-controls a {
    color: #333; }
  .admin-controls div {
    flex-direction: column;
    align-items: normal !important;
    justify-content: flex-start !important; }
    .admin-controls div .control-title {
      justify-content: space-between !important;
      flex-direction: row; }
      .admin-controls div .control-title h3 {
        margin: 0px;
        text-decoration: underline;
        align-self: flex-end; }
      .admin-controls div .control-title .create-button {
        font-size: 2em;
        align-self: flex-end; }
    .admin-controls div .control-collapse {
      flex-direction: row;
      padding: 15px; }

table {
  width: 100%; }

tr {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between; }

td {
  display: flex;
  flex-direction: row !important;
  padding: 3px;
  align-items: center; }

.destructive-controls a {
  color: #333; }

.destructive-controls .delete {
  font-size: 1.4em;
  padding-left: 5px; }

.show-color {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
  width: 22px;
  height: 22px;
  border-radius: 50%;
  box-shadow: inset 0 0 2px 0 rgba(76, 74, 74, 0.51);
  border: none;
  outline: none;
  margin: 5px !important; }

.bottle-display {
  flex-direction: row;
  flex-wrap: nowrap !important; }
  .bottle-display div {
    width: 45vw;
    flex-direction: row; }
    .bottle-display div img {
      object-fit: cover;
      padding: 20px; }
    .bottle-display div div div {
      width: 50%; }
  .bottle-display .bottle-detail {
    flex-direction: column; }
    .bottle-display .bottle-detail hr {
      width: 95%;
      border-top: 1px solid #33333341; }
    .bottle-display .bottle-detail div .bottle-info {
      flex-direction: column;
      align-items: normal;
      padding: 20px 0px 20px 40px; }
      .bottle-display .bottle-detail div .bottle-info p {
        padding: 5px; }
    .bottle-display .bottle-detail div .bottle-buy form {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .bottle-display .bottle-detail div .bottle-buy form .input-group {
        flex-direction: row;
        justify-content: center;
        width: 100%; }
        .bottle-display .bottle-detail div .bottle-buy form .input-group input {
          max-width: 45px; }
        .bottle-display .bottle-detail div .bottle-buy form .input-group button {
          font-size: 2em;
          padding: 0px;
          margin: 10px;
          width: 40px; }
      .bottle-display .bottle-detail div .bottle-buy form button {
        opacity: 0.85;
        width: 65px; }
    .bottle-display .bottle-detail p {
      padding: 15px;
      margin: 0px; }

@media (max-width: 715px) {
  h1 {
    font-size: 2em; }
  h3 {
    font-size: 1.5em; }
  .bottle-display {
    flex-wrap: wrap !important; }
    .bottle-display div {
      width: 100%;
      text-align: center; }
      .bottle-display div div .bottle-info {
        padding: 20px !important; } }

@media (max-width: 425px) {
  .bottle-detail div {
    flex-direction: column; }
    .bottle-detail div div {
      width: 100% !important; } }

.navbar {
  background-color: #333;
  padding: 3em 5em 3em 5em;
  display: flex;
  color: #ffffff;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  height: 20vh;
  width: 100vw; }
  .navbar a {
    text-decoration: none; }

@media (max-width: 625px) {
  .navbar {
    font-size: 0.8em;
    justify-content: center; }
    .navbar h1 {
      font-size: 3em; } }

.color-selection {
  padding: 5px;
  width: 75%;
  justify-content: center !important; }
  .color-selection button {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
    width: 22px;
    height: 22px;
    border-radius: 50%;
    box-shadow: inset 0 0 2px 0 rgba(76, 74, 74, 0.51);
    border: none;
    outline: none;
    margin: 3px !important; }
  .color-selection button:hover {
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5); }
  .color-selection button:focus {
    border: 2px solid #ffffff;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.75); }

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #ffffff;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #333;
  border: 0.05rem solid #333;
  font-weight: 400 !important; }

/*
 * Base structure
 */
.cover-container {
  max-width: 42em; }

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem; }

.masthead-brand {
  margin-bottom: 0; }

.nav-masthead .nav-link {
  padding: 0.5rem;
  color: rgba(255, 255, 255, 0.75);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent; }

.nav-masthead .nav-link:hover {
  border-bottom-color: rgba(255, 255, 255, 0.75); }

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem; }

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff; }

@media (min-width: 48em) {
  .masthead-brand {
    float: left; }
  .nav-masthead {
    float: right; } }

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem; }

.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700; }

/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, 0.5); }

.form div div form {
  display: flex;
  flex-direction: column; }
  .form div div form div {
    flex-direction: column;
    align-items: flex-start; }
    .form div div form div img {
      height: 200px;
      margin: 0px auto; }

#file {
  padding: 4px 10px;
  cursor: pointer; }

#hex {
  padding: 0px; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

/*# sourceMappingURL=style.css.map */